* {
	box-sizing: border-box;
}
body {	
	background-color: #eee;
}
/*Main container*/
.container{
	background-image: url("../images/concrete-texture.png");
	position: absolute;
	z-index: -1;	
	margin-left:40px;
	padding: 0px;
	font-family: 'Times New Roman';
	border:1px solid green;
	width:960px;
	height: 100%
	align-content: center;
	font-weight: bold;
	background-color: #ffffff;
	}
/*header styling*/
header{
	background-color: #ffffff;
	border:1px solid #cccccc;
	}
.nav{
	color:#777777;
	text-align: right;
	padding:30px 0px 30px 0px;
	margin:0px;
}
/*links styling*/
.nav >li{
	display: inline-block;
	padding:0px 15px 0px 15px;
	font-size:18px;
	position:relative;
}
.nav >li > a{
	text-decoration: none;
	color:#777777;
}
.nav > li > a:hover{
	color:#000000;
}
/*logo styling*/
.logo{
	position:relative;
	color:#ffffff;
	float:left;
	padding:26px;
	font-size:25px;
	margin-left:80px;
	font-weight:bold;
	background-color: #4aaaa5;
	height: 100%
	z-index: 2;
}
#contact{
	margin-right: 60px;
}
h2{
	font-size:25px;
	color:#4aaaa5;
	margin-left: 20px;
}
/*sub content about contact portfolio*/


.main_content {
	width:60%;
	float:left;
	border:2px solid #dddddd;
	padding:20px;
	margin-left:60px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #ffffff;
}
.main_content1 {
	width:60%;
	float:left;
	border:2px solid #dddddd;
	padding:20px;
	margin-left:60px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #ffffff;
	height: 775px;
}
/*Paragraph Styling*/
#para{
	color:#4aaaa7;
	font-family: 'Arial';
	font-weight: lighter;
	/*float: left;*/
	width:100%;
	margin-left: 5px;
}
/*bio image styling*/
.image{
	float:left;
	width:150px;
	height:150px;
	margin-right: 10px;
	
}
/*Contact Information Styling*/
#name,
#email{
    width: 90%;
    height: 35px;
    border:2px solid #dddddd;
    margin-left: 20px;
}
#textarea{
	width: 90%;
	border:2px solid #dddddd;
	 margin-left: 20px;
}
p{
	color:grey;
	font-weight: lighter;
	font-family: 'Arial';
	margin-left: 20px;
}
#submit_button{
	background-color: #4aaaa5;
	color:#ffffff;
    height: 40px;
    width: 120px;
    font-size: 18px;
    margin-left: 20px;
    border:none;
}
/*social logos section- side bar*/

.social_logos > li{
	display:inline-block;
	align-content: center;
}
.connect_section{
	float: left;
	width:240px;
	height:200px;
	margin-left:30px;
	margin-top: 20px;
	border:2px solid #dddddd;
	background-color: #ffffff;
}
h3{
	color: #4aaaa5;

	
}
.github, 
.linkedin,
.stackoverflow{
	width:50px;
	height:50px;
}
hr{
	margin-right: 20px;
	border:0px;
	border-top:2px solid #dddddd;
}
/*Portfolio Images styling*/
.main_content >div{
	display:inline-block;
}
#image1 {
	position: absolute;
	z-index: 1;
	margin-top: 20px;
	width:250px;
	height:200px;
	top:200px;
}
#title1, #title2, #title3, #title4, #title5 {
	position:relative;
	z-index: 2;
	/*bottom: 50px;*/
	background-color: #4aaaa5;
	color:#ffffff;
	width: 250px;
	height:50px;
	text-align: center;
	padding-top: 15px;
	font-family: 'Arial';
}
#title1 {
	top: 160px;
}
#title2 {
	margin-left: 270px;
	top: 110px;
}
#title3 {
	top: 285px;
}
#title4 {
	margin-left: 270px;
	top: 235px;
}
#title5 {
	top: 410px;
}

#image2	{
	position: absolute;
	z-index: 1;
	margin-top: 20px;
	margin-left: 270px;
	width:250px;
	height:200px;
	top: 200px;
}

#image3 {
	position: absolute;
	z-index: 1;
	margin-top: 20px;
	width:250px;
	height:200px;
	top: 425px;
}
#image4 {
	position: absolute;
	z-index: 1;
	margin-top: 20px;
	margin-left: 270px;
	width:250px;
	height:200px;
	top: 425px;
}
#image5{
	position: absolute;
	z-index: 1;
	margin-top: 20px;
	width:250px;
	height:200px;
	top: 650px;
}
/*footer styling */
footer {
	clear:both;
	height: 80px;
	margin-top: 10px;
	position: relative;
	padding-top: 24px;
	padding-bottom: 10px;
	text-align: center;
	border-top: 8px solid #4aaaa5;
	background-color: #666666;
	color: #cccccc;
	font-size: 14px;
	font-family: 'Arial';
	font-weight: lighter;
}