*{
	box-sizing: border-box;
	/*
	background-image: url("concrete-texture.png");
	position: absolute;
	z-index: -1;*/
}
body {	
	/*
	background-image: url("concrete-texture.png");
	position: absolute;
	z-index: -1;*/
	background-color: #eee;
}
/*Main container*/
.container{
	background-image: url("concrete-texture.png");
	position: absolute;
	z-index: -1;	
	margin-left:40px;
	padding: 0px;
	font-family: 'Times New Roman';
	border:1px solid green;
	width:960px;
	height: 100%
	align-content: center;
	font-weight: bold;
	background-color: #ffffff;
	}
/*header styling*/
header{
	background-color: #ffffff;
	border:1px solid #cccccc;
	}
.nav{
	color:#777777;
	text-align: right;
	padding:30px 0px 30px 0px;
	margin:0px;
}
/*links styling*/
.nav >li{
	display: inline-block;
	padding:0px 15px 0px 15px;
	font-size:18px;
	position:relative;
}
.nav >li > a{
	text-decoration: none;
	color:#777777;
}
.nav > li > a:hover{
	color:#000000;
}
/*logo styling*/
.logo{
	position:relative;
	color:#ffffff;
	float:left;
	padding:26px;
	font-size:25px;
	margin-left:80px;
	font-weight:bold;
	background-color: #4aaaa5;
	height: 100%
	z-index: 2;
}
#contact{
	margin-right: 60px;
}
h2{
	font-size:25px;
	color:#4aaaa5;
	margin-left: 20px;
}
/*sub content about contact portfolio*/

.main_content{
	width:60%;
	float:left;
	border:2px solid #dddddd;
	padding:20px;
	margin-left:60px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #ffffff;
}
/*Paragraph Styling*/
#para{
	color:#4aaaa7;
	font-family: 'Arial';
	font-weight: lighter;
	/*float: left;*/
	width:100%;
	margin-left: 5px;
}
/*bio image styling*/
.image{
	float:left;
	width:150px;
	height:150px;
	margin-right: 10px;
	
}

/*social logos section- side bar*/

.social_logos > li{
	display:inline-block;
	align-content: center;
}
.connect_section{
	float: left;
	width:240px;
	height:200px;
	margin-left:30px;
	margin-top: 20px;
	border:2px solid #dddddd;
	background-color: #ffffff;
}
h3{
	color: #4aaaa5;

	
}
.github, 
.linkedin,
.stackoverflow{
	width:50px;
	height:50px;
}
hr{
	margin-right: 20px;
	border:0px;
	border-top:2px solid #dddddd;
}
/*Portfolio Images styling*/
#image1,
#image2,
#image4
	{
	float: left;
	margin: 20px;
	width:250px;
	height:150px;
	}
#image3,
#image5{
	clear: both;
	margin: 20px;
	width:250px;
	height:150px;
	}
#image1,
{
	position:relative;
	z-index:1;

}
#title1{
	position: absolute;
	z-index: 2;
	background-color: #4aaaa5;
	color:#ffffff;
	bottom:2px;
	width: 250px;
	height:50px;
	text-align: center;
}


/*footer styling */
footer {
	clear:both;
	height: 80px;
	margin-top: 10px;
	position: relative;
	padding-top: 24px;
	padding-bottom: 10px;
	text-align: center;
	border-top: 8px solid #4aaaa5;
	background-color: #666666;
	color: #cccccc;
	font-size: 14px;
	font-family: 'Arial';
	font-weight: lighter;
}